@import "tailwindcss";

@theme {
  --color-primary: #001948;
  --color-secondary: #E3A03C;
}

@font-face {
  font-family: 'Poppins';
  src: url(./font/Poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: 'Helvetica';
  src: url(./font/helvetica-255/Helvetica.ttf);
}

.title  {
  font-family: 'EB Garamond', serif;
}